<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Control number</th>
    <th>Name</th>
    <th>Paternal surname</th>
    <th>Maternal surname</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.control_number %></td>
    <td><%= teacher.name %></td>
    <td><%= teacher.paternal_surname %></td>
    <td><%= teacher.maternal_surname %></td>
    <td><%= teacher.user_id %></td>
    <td><%= link_to 'Show', user_teacher %></td>
    <td><%= link_to 'Edit', edit_user_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New teacher', new_user_teacher_path %>
